.page-content {
    margin-top: 80px; /* Matches the navbar height */
    min-height: calc(100vh - 80px); /* Ensure full height minus navbar */
    display: flex;
    flex-direction: column;
    background-color: #1c2936; /* Same color as body for consistency */
    justify-content: flex-start;
    align-items: center;
}

@font-face {
	font-family: "San Francisco";
	font-weight: 400;
	src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
	font-family: "San Francisco";
}