/* Navbar Styles */
body {
  margin: 0;
  padding: 0;
}

.page-content {
  margin-top: 80px; /* Match the navbar height */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Ensure consistent height */
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0.8rem 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  text-decoration: none;
}

.logo-image {
  height: 50px;
  width: auto;
  transition: transform 0.3s ease-in-out;
}

.project-name {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.logo-container:hover .project-name,
.logo-container:hover .logo-image {
  transform: scale(1.1);
  color: #4fd1c5;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  color: #e2e8f0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Space between icon and text */
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #4fd1c5;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background: #4fd1c5;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.active-link {
  color: #00d1b2;
  font-weight: 700;
}

.active-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background: #00d1b2;
  transition: width 0.3s ease-in-out;
}

.nft-icon {
  height: 36px;
  width: 36px;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.block-icon {
  height: 28px;
  width: 28px;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.nav-link:hover .link-icon {
  transform: scale(1.2);
}
